* { box-sizing:border-box; }
body {
  font-size: 16px;
  /*color: #fff;*/
  background-color: /*#61122f #D3D3D3*/ #F1F1F1 ;
  font-family: 'Oxygen', sans-serif;
}
div { display: block;}
#header-nav {
  background-color:#DC143C /*#f6b319 #2F4F4F #2d3e50*/;
  border-radius: 0;
  border: 0;
}
#search {
	width: 500px;
	}
.nav.navbar-nav.navbar-right li a {
	color:#FFFBF0;	
	} 
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color:rgba(0, 0, 0, 0.54);
	} 
div.main_container {
	margin-top: 80px;
	margin-left: 40px;
		}
div.series_detail {
			width: 1280px;
			height: 400px;
			background-color: #fff;
			margin-bottom: 24px;
			color: #000;
		}
div.series_detail.image_content {
			float: left;
			width: 500px;
			margin-right: 13px;
		}	
.poster {
			float: left;
			width: 500px;
			height: 400px;
			margin-right: 13px;
			padding: 15px;
		}		
.main_container.series_detail.info_top {
	float: left;
}
.title{
	font-family: 'Noto Serif', sans-serif;    
	font-size: 30px;
    color: rgba(0,0,0,0.54);
    font-weight: 600;
}
a:hover{ text-decoration: none; }	
.genre, .chan, .actor , .runtime, .country, .lang, .dir{ color:#3bace1;}
.info_top #genre, .info_top #chan, .info_top #actor, .info_top #dir, .info_top #runtime, .info_bottom #country, .info_bottom #lang  {	color: #f06624;
}

.trailer {background-color: #008CBA;
	border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
	margin-left:40px;}
.trailer:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

div #full_genre {
	margin-top:30px;
}

div.info_bottom { width: 1280px; margin-left: 25px;
	}	
.series_plot {
	font-family: 'Noto Serif', sans-serif;  
	font-size: 24px;
    color: rgba(0,0,0,0.87);
    line-height: 36px;
	}	